@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "/Views/Shared/_Layout.cshtml";
}


<partial name="_StatusMessage" for="StatusMessage" />
<div class="vh-100 d-flex">
    <div class="col-md-6 mx-auto my-5">
        <h3 class="text-white">@ViewData["Title"]</h3>
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="Input.Region" class="form-control">
                    <option>Moldova</option>
                    <option>Greece</option>
                    <option>USA</option>
                    <option>Finland</option>
                </select>
                <label asp-for="Input.Region" class="form-label"></label>
                <span asp-validation-for="Input.Region" class="text-danger"></span>  
            </div>
            <div class="form-floating">
                <select asp-for="Input.BgImage" class="form-control">
                    <option>Moldova</option>
                    <option>Greece</option>
                    <option>USA</option>
                    <option>Finland</option>
                </select>
                <label asp-for="Input.BgImage" class="form-label"></label>
                <span asp-validation-for="Input.BgImage" class="text-danger"></span>  
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg text-white mt-4" style="background-color: orange;">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
