@{
	var images = ViewBag.CarImages;
	var carId = ViewBag.CarId;
}

<div>
	<div class="w-50 h-100">
		<form asp-controller="Home" asp-action="RemoveImage">
		<table class="text-white table-dark table table-hover">
			<tr>
				<td>
					<h3 class="mx-5">Image</h3>
				</td>
				<td>
					<h3 class="mx-5">Remove</h3>
				</td>
			</tr>
			@for(int i = 0; i < images.Count; i++)
			{
				<tr>
					<td>
						<img src="~/images/@images[i]" class="w-50 p-0 mx-5"/>
					</td>
					<td class="text-center">
						<input type="checkbox" name="imagesToDelete" id="imagesToDelete" value="@images[@i]" class="mt-xxl-5"/>
					</td>
				</tr>	
			}
		</table>
		<input type="text" value="@carId" id="carId" name="carId" hidden/>
		<input type="submit" value="Delete" class="btn-danger mx-5 my-5 w-25"/>
		</form>
	</div>
	<div class="w-50 h-100">

	</div>
</div>