@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCKTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - CarShopOnline_v3</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/CarShopOnline_v3.styles.css" asp-append-version="true" />
        <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"/>
    </head>
    <body style="margin-bottom: 0">
        <div class="vh-100 d-flex"
            style="
                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,2,59,1) 55%, rgba(255,162,0,1) 100%);">
            <div class="col-md-4 my-auto mx-auto">
                    
                <h1 class="text-white">@ViewData["Title"]</h1>
                <div class="col-md-4 card mx-auto p-3" style="background-color:rgba(255, 255, 255, .2); width: 35vw">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h2 class="text-white">Create a new account.</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <input asp-for="Input.Email" style="margin-bottom:5px" class="form-control rounded-pill" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.Password" style="margin-bottom:5px" class="form-control rounded-pill" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.ConfirmPassword" style="margin-bottom:5px" class="form-control rounded-pill" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary rounded-pill" style="background-color: orange">Register</button>
                        
                    </form>
                    <div>
                        <p>
                            <a class="text-decoration-none" style="color:#e1e1e1;" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Back to login page</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2023 - CarShopOnline_v3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
</html>




